#progressBar {
    //margin: 0 auto 20px auto;
    height: 4px;
}

.pull-request {
    margin: 0 0 40px 0;

    img.user {
        height: 60px;
        margin: 0 10px 0 0;
        float: left;
    }

    .pull-body {
        float: left;
        width: 90%;
    }

    p {
        margin-left: 2px;
        color: #787878;
    }

    .pull-title {
        word-wrap: break-word;
        margin: 0 0 6px 0;
        font-weight: normal;
    }

    ul.list-inline {
        & > li {
            padding-left: 0;
            padding-right: 20px;
        }
    }
}