<% layout('mainLayout') -%>
<h1 id="loadingMessage"><i class="icon-repeat icon-spin"></i> Loading pull requests...</h1>
<% block('scripts', partial('templates')) -%>
<% script('/js/gitPull.js') -%>



