<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pullreq</title>
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css" media="screen">
    <link rel="stylesheet" href="/css/main.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <%- stylesheets %>
</head>
<body>
    <header>
        <svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
             version="1.1" id="Layer_1" x="0px" y="0px"
             width="50px" height="50px" viewBox="0 0 100 100"
             enable-background="new 0 0 100 100" xml:space="preserve">
            <g>
                <path fill="#444" d="M85.102,75.82c0,0,8.129-2.684,5.751-14.886c0,0,0-0.005,0-0.007c-0.001-0.011-0.003-0.024-0.005-0.037l-0.007-0.002     c-0.136-0.565-0.642-0.985-1.248-0.985c-0.712,0-1.287,0.576-1.287,1.289c0,0.026,0.007,0.051,0.008,0.078     c-0.001,0-0.003,0-0.006,0.002c0,0-1.402,14.548-13.434,7.625C74.875,68.897,78.384,76.723,85.102,75.82z"/>
                <path fill="#444" d="M14.9,75.82c6.717,0.903,10.225-6.923,10.225-6.923c-12.03,6.923-13.433-7.625-13.433-7.625     c-0.001-0.002-0.003-0.002-0.005-0.002c0.002-0.027,0.009-0.052,0.009-0.078c0-0.713-0.577-1.289-1.288-1.289     c-0.606,0-1.111,0.42-1.248,0.985c0,0-0.005,0.002-0.005,0.002c-0.003,0.013-0.005,0.026-0.008,0.037c0,0.002,0,0.007,0,0.007     C6.769,73.136,14.9,75.82,14.9,75.82z"/>
                <path fill="#444" d="M15.657,89.886c-0.251,0.015-0.502,0.031-0.756,0.031c-4.332,0-8.334-2.136-11.596-5.747     c-0.175-0.252-0.466-0.416-0.796-0.416c-0.536,0-0.972,0.435-0.972,0.971c0,0.156,0.041,0.3,0.105,0.432     c0-0.002-0.001-0.002-0.001-0.002c2.412,6.903,9.585,11.912,18.067,11.912c0.252,0,0.502-0.016,0.753-0.023     C18.709,95.396,17.011,93.093,15.657,89.886z"/>
                <path fill="#444" d="M98.337,85.386c0.078-0.14,0.127-0.298,0.127-0.469c0-0.537-0.435-0.971-0.971-0.971c-0.335,0-0.634,0.17-0.807,0.43     c0-0.002,0-0.002,0-0.002c-3.23,3.487-7.161,5.543-11.411,5.543c-0.383,0-0.758-0.021-1.134-0.056     c-1.354,3.212-3.05,5.521-4.8,7.17c0.346,0.016,0.694,0.035,1.042,0.035c8.379,0,15.481-4.891,17.974-11.667l-0.019-0.014H98.337     z"/>
                <path fill="#444" d="M96.962,69.544c0-0.854-0.691-1.544-1.542-1.544c-0.603,0-1.12,0.349-1.373,0.853l0,0l-0.004-0.002    c-2.438,5.061-6.066,8.273-10.122,8.273c-7.186,0-13.033-10.08-13.281-22.676c2.269-1.323,3.798-3.779,3.798-6.597    c0-2.095-0.843-3.989-2.208-5.371c0.29-0.942,0.605-1.854,0.964-2.714c2.195-3.875,3.454-8.351,3.454-13.123    C76.648,11.929,64.728,0,50.026,0C35.323,0,23.404,11.929,23.404,26.644c0,4.697,1.219,9.109,3.352,12.941    c0.383,0.909,0.727,1.872,1.034,2.876c-1.375,1.382-2.226,3.287-2.226,5.391c0,2.823,1.535,5.283,3.812,6.606    c-0.25,12.592-6.098,22.666-13.281,22.666c-4.011,0-7.604-3.143-10.041-8.107C5.996,68.9,5.937,68.783,5.88,68.664    C5.607,68.264,5.147,68,4.625,68c-0.839,0-1.52,0.679-1.52,1.521c0,0.171,0.035,0.33,0.086,0.482    c0.022,0.059,0.05,0.113,0.068,0.173c2.676,8.927,7.176,11.76,10.303,12.368c-0.045-0.251-0.092-0.504-0.134-0.765l-0.054-0.345    l0.024-0.028c-0.034-1.098,0.542-2.036,1.46-2.332c0.192-0.063,0.392-0.096,0.594-0.096c0.978,0,1.907,0.731,2.297,1.797    l0.01,0.005l0.072,0.257c0.006,0.021,0.388,1.345,1.179,2.977c0.231,0.015,0.461,0.033,0.695,0.033    c3.585,0,6.936-1.447,9.794-3.958c-2.121,3.534-4.785,6.28-7.783,7.964c1.525,1.544,3.583,2.437,5.778,2.437    c3.027,0,5.782-1.7,7.18-4.33h0.001c1.798-3.637,2.761-9.605,2.761-9.605c-0.098,1.752,0.166,5.048-1.146,8.92l-0.023,0.063    c-1.34,3.685-4.861,6.156-8.773,6.156c-2.882,0-5.571-1.322-7.338-3.571c-0.012-0.016-0.024-0.031-0.037-0.046    c-0.143-0.184-0.281-0.371-0.411-0.567c-0.224-0.296-0.433-0.6-0.63-0.905c-0.015-0.022-0.028-0.046-0.042-0.067    c-0.183-0.285-0.355-0.574-0.516-0.857c-0.016-0.028-0.029-0.053-0.045-0.079c-0.159-0.287-0.308-0.568-0.446-0.843    c-0.008-0.019-0.017-0.035-0.026-0.054c-0.614-1.236-1.005-2.325-1.195-2.903h-0.03l-0.134-0.534    c-0.233-0.727-0.885-1.221-1.417-1.046c-0.431,0.138-0.69,0.693-0.615,1.318l0.006,0.078H14.62    c0.084,0.524,0.177,1.029,0.274,1.522c0,0,0,0,0,0c0.107,0.546,0.226,1.068,0.349,1.579c0.035,0.144,0.069,0.288,0.106,0.43    c0.051,0.199,0.103,0.396,0.156,0.593c0.042,0.149,0.085,0.299,0.128,0.448c0.059,0.201,0.118,0.403,0.179,0.6    c0.081,0.262,0.165,0.521,0.25,0.771c0.052,0.153,0.105,0.299,0.159,0.446c0.058,0.164,0.116,0.324,0.175,0.479    c0.055,0.143,0.109,0.285,0.164,0.423c0.067,0.168,0.136,0.334,0.206,0.496c0.049,0.119,0.098,0.238,0.148,0.353    c1.49,3.379,3.374,5.646,5.246,7.164c0.286,0.23,0.572,0.442,0.856,0.643c0.029,0.021,0.058,0.041,0.087,0.06    c0.275,0.189,0.548,0.364,0.818,0.524c0.032,0.018,0.064,0.037,0.096,0.056c0.271,0.157,0.54,0.303,0.804,0.436    c0.016,0.01,0.034,0.018,0.05,0.025c0.542,0.27,1.064,0.482,1.554,0.654c0.025,0.01,0.052,0.021,0.079,0.028    c0.228,0.077,0.449,0.146,0.661,0.207c0.036,0.011,0.069,0.02,0.104,0.029c0.207,0.058,0.406,0.108,0.593,0.151    c0.028,0.006,0.055,0.011,0.082,0.018c0.192,0.042,0.377,0.078,0.546,0.106l0.148,0.025c0.013,0.002,0.029,0.006,0.045,0.008    c0.609,0.093,1.022,0.105,1.157,0.107l0.089-0.017l0.261,0.002c4.042,0,13.92-1.798,19.497-18.141l0.206-0.589l0.205,0.589    c5.575,16.343,15.455,18.141,19.495,18.141l0.262-0.002L69.946,100c0.136-0.002,0.55-0.015,1.157-0.107    c0.016-0.002,0.031-0.006,0.046-0.008l0.147-0.025c0.173-0.028,0.358-0.064,0.551-0.108c0.026-0.006,0.052-0.01,0.078-0.016    c0.192-0.046,0.395-0.096,0.604-0.155c0.03-0.008,0.062-0.017,0.093-0.025c0.218-0.062,0.443-0.134,0.677-0.213    c0.021-0.009,0.042-0.015,0.064-0.022c0.757-0.266,1.59-0.634,2.457-1.146c0.017-0.009,0.033-0.02,0.05-0.027    c0.281-0.169,0.568-0.352,0.857-0.551c0.017-0.013,0.031-0.025,0.05-0.036c0.295-0.208,0.591-0.428,0.887-0.671l0,0    c1.872-1.525,3.756-3.803,5.239-7.197c0.002-0.009,0.006-0.018,0.01-0.025c0.115-0.268,0.229-0.544,0.34-0.823    c0.042-0.103,0.081-0.206,0.119-0.309c0.074-0.192,0.147-0.393,0.219-0.593c0.043-0.123,0.088-0.245,0.132-0.372    c0.087-0.257,0.172-0.521,0.256-0.792c0.064-0.201,0.123-0.407,0.183-0.615c0.036-0.124,0.07-0.243,0.105-0.369    c0.06-0.22,0.119-0.438,0.177-0.662c0.021-0.084,0.04-0.168,0.062-0.25c0.129-0.525,0.25-1.065,0.363-1.628    c0.107-0.528,0.209-1.07,0.298-1.636l0,0l0.006-0.078c0.077-0.625-0.183-1.181-0.615-1.318c-0.531-0.175-1.184,0.319-1.415,1.046    l-0.134,0.534h-0.031c-0.147,0.451-0.417,1.211-0.819,2.112l-0.002,0.003c-0.12,0.265-0.25,0.54-0.391,0.825    c-0.009,0.019-0.019,0.037-0.027,0.056c-0.135,0.27-0.284,0.547-0.439,0.828c-0.017,0.026-0.032,0.053-0.046,0.078    c-0.159,0.282-0.328,0.566-0.512,0.848c-0.015,0.021-0.027,0.044-0.04,0.065c-0.196,0.302-0.401,0.602-0.624,0.894    c-0.116,0.177-0.238,0.348-0.365,0.515c-0.005,0.005-0.009,0.009-0.013,0.015c-1.766,2.3-4.49,3.655-7.406,3.655    c-3.914,0-7.434-2.472-8.773-6.156l-0.024-0.063c-1.142-2.622-1.047-7.168-1.146-8.92c0,0,0.965,5.969,2.761,9.605h0.002    c1.397,2.63,4.152,4.33,7.181,4.33c2.26,0,4.377-0.943,5.914-2.575c-2.855-1.671-5.396-4.313-7.443-7.681    c2.82,2.42,6.106,3.813,9.62,3.813c0.128,0,0.255-0.013,0.384-0.017c0.798-1.64,1.183-2.972,1.188-2.993l0.072-0.257l0.008-0.005    c0.391-1.065,1.319-1.797,2.296-1.797c0.204,0,0.403,0.032,0.597,0.096c0.919,0.296,1.492,1.234,1.46,2.332l0.023,0.028    l-0.055,0.345c-0.05,0.314-0.105,0.615-0.161,0.92c5.092-1.181,9.156-6.809,10.634-12.524l-0.006-0.003    C96.912,69.98,96.962,69.769,96.962,69.544z M34.926,51.859c-1.587,0-2.873-1.287-2.873-2.875c0-1.587,1.286-2.874,2.873-2.874    c1.585,0,2.872,1.287,2.872,2.874C37.797,50.572,36.511,51.859,34.926,51.859z M65.077,51.859c-1.587,0-2.872-1.287-2.872-2.875    c0-1.587,1.285-2.874,2.872-2.874c1.585,0,2.871,1.287,2.871,2.874C67.948,50.572,66.662,51.859,65.077,51.859z"/>
            </g>
        </svg>
        <h1>Pullreq</h1>
    </header>
    <div class="container-fluid">
        <div class="row-fluid">
            <!--<div class="span2" id=""menu>-->
                <!--&lt;!&ndash;Sidebar content&ndash;&gt;-->
            <!--</div>-->
            <div class="span10" id="content">
                <%- body %>
            </div>
        </div>
    </div>
    <footer>
        <div style="text-align: center;">
            &copy; Adan Perez 2013
        </div>
    </footer>
    <script src="/js/jquery-1.9.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/handlebars-1.0.rc.2.js"></script>
    <script src="/js/handlebars-plugins.js"></script>
    <script src="/js/underscore-1.4.4.js"></script>
    <script src="/js/backbone-0.9.10.js"></script>
    <script src="/js/moment-2.0.0.min.js"></script>
    <%- scripts %>
</body>
</html>