<% layout('mainLayout') -%>
<h1 id="loadingMessage">
    <i class="icon-repeat icon-spin"></i> Loading Options...
</h1>
<% block('scripts', partial('templates')) -%>
<% script('/js/pullreq.js') -%>
<% script('/js/pages/repos.js') -%>