<% layout('mainLayout') -%>
<% block('header', partial('header')) -%>
<div id="loadingMessage">
    <h1>
        <i class="icon-repeat icon-spin"></i> Loading Options...
    </h1>
</div>
<div class="row-fluid" id="main">
    <div class="span2">
        <div id="menu" class="hide">
            <h5>Options</h5>
            <ul class="unstyled" id="menuItems">
                <li>
                    <i class="icon-home"></i>
                    <a href="/home"> Home</a>
                </li>
                <li>
                    <i class="icon-external-link"></i>
                    <a href="<%- user.url %>" target="_blank"> View profile</a>
                </li>
                <li>
                    <i class="icon-signout"></i>
                    <a href="/auth/logout"> Sign out</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="span10" id="content">
        <form id="repoForm"  action="/repos/save" method="post">
            <div id="owners"></div>
            <p id="buttons" class="hide">
                <button class="btn" type="submit">Save</button>
                <a href="/home" class="btn">Cancel</a>
            </p>
        </form>
    </div>
</div>
<% block('scripts', partial('templates')) -%>
<% script('/js/pullreq.js') -%>
<% script('/js/pages/repos.js') -%>