<script id="project-template" type="text/x-handlebars-template">
    <div class="project" id="project-{{projectId}}">
        <h2>{{{splitName name}}}</h2>
        <div class="pull-requests"></div>
    </div>
</script>
<script id="pull-partial" type="text/x-handlebars-template">
    <div class="pull-request clear-fix">
        <img src="{{imageUrl}}" alt="{{user}}" title="{{user}}" />
        <div>
            <a class="roll-link" href="{{pullUrl}}"><span data-title="{{name}}">{{name}}</span></a>
            <p>{{description}}</p>
            <ul>
                <li><i class="icon-user"></i> {{user}}</li>
                <li><i class="icon-copy"></i> {{files}} Files changed</li>
                <li><i class="icon-edit"></i> {{commits}} Commits</li>
                <li><i class="icon-comments"></i> {{comments}} Comments</li>
            </ul>
        </div>
    </div>
</script>
<script id="pull-template" type="text/x-handlebars-template">
    <div class="pull-request clear-fix">
        <img src="{{user.avatar_url}}" alt="{{user}}" title="{{user}}" />
        <div class="pull-body">
            <a class="roll-link" target="_blank" href="{{html_url}}"><span data-title="{{title}}">{{title}}</span></a>
            <a href="#" class="descriptionLink hide"><i class="icon-double-angle-up icon-double-angle-down"></i></a>
            <div class="pullSummary hide">
                {{{markDown body}}}
            </div>
            <ul class="inline subInfo"></ul>
        </div>
    </div>
</script>
<script id="pull-request-extra-info-template" type="text/x-handlebars-template">
    <li><i class="icon-user"></i> {{user.login}}</li>
    <li><i class="icon-time"></i> {{dateFormat created_at}}</li>
    {{#if extraInfoLoaded}}
    <li><i class="icon-copy"></i> {{files.length}} Files changed</li>
    <li><i class="icon-comments"></i> {{codeComments.length}} Code Comments</li>
    {{else}}
    <li><i class="icon-repeat icon-spin"></i> Loading...</li>
    {{/if}}
</script>
<script id="tag-item-template" type="text/x-handlebars-template">
    <li><i class="icon-tag"></i> <a href="#">{{name}}</a></li>
</script>
<script id="repo-owner-template" type="text/x-handlebars-template">
    <div class="owner">
        <h2>{{login}}</h2>
        <ul class="unstyled repo">
            {{#each repos}}
            <li>
                <label class="checkbox">
                    <input type="checkbox" name="repo" value="{{full_name}}"> <b>{{name}}</b>
                </label>
                <ul class="inline subInfo">
                    <li><i class="icon-time"></i> {{dateFormat created_at}}</li>
                    <li><i class="icon-random"></i> {{forks_count}} forks</li>
                </ul>
            </li>
            {{/each}}
        </ul>
    </div>
</script>