<script id="project-template" type="text/x-handlebars-template">
    <h2>{{{splitName name}}}</h2>
    <div class="pull-requests"></div>
</script>
<script id="pull-partial" type="text/x-handlebars-template">
    <div class="pull-request clear-fix">
        <img src="{{imageUrl}}" alt="{{user}}" title="{{user}}" />
        <div>
            <a class="pull-link" href="{{pullUrl}}"><span data-title="{{name}}">{{name}}</span></a>
            <p>{{description}}</p>
            <ul>
                <li><i class="icon-user"></i> {{user}}</li>
                <li><i class="icon-copy"></i> {{files}} Files changed</li>
                <li><i class="icon-edit"></i> {{commits}} Commits</li>
                <li><i class="icon-comments"></i> {{comments}} Comments</li>
            </ul>
        </div>
    </div>
</script>
<script id="pull-template" type="text/x-handlebars-template">
    <div class="pull-request clear-fix" id="pull-request-{{id}}">
        <img src="{{user.avatar_url}}" alt="{{user}}" title="{{user}}" />
        <div class="pull-body">
            <h4 class="pull-title">
                <a class="pull-link" target="_blank" href="{{html_url}}">{{title}}</a>
            </h4>
            <div class="pull-info hide">
                <div class="pull-summary">{{{markDown body}}}</div>
                <ul class="pull-comments unstyled clear-fix"></ul>
            </div>
            <ul class="inline subInfo"></ul>
        </div>
    </div>
</script>
<script id="pull-request-extra-info-template" type="text/x-handlebars-template">
    <li><i class="icon-user"></i> {{user.login}}</li>
    <li><i class="icon-time"></i> {{dateFormat created_at}}</li>
    {{#if isExtraInfoLoaded}}
        <li><i class="icon-comments"></i> {{addValues issueComments.length codeComments.length}} Comments</li>
        <li>
            <i class="icon-copy"></i>
            {{#if files.length}} <a href="#" class="filesLink">{{files.length}} Files changed</a>  {{else}} {{files.length}} Files changed {{/if}}
        </li>
        {{#ifOrCond issueComments.length body}}
        <li><i class="icon-info-sign"></i> <a href="#" class="descriptionLink">More Info...</a> </li>
        {{/ifOrCond}}
    {{else}}
        <li><i class="icon-repeat icon-spin"></i> Loading...</li>
    {{/if}}
</script>
<script id="tag-item-template" type="text/x-handlebars-template">
    <li><i class="icon-tag"></i> <a href="#" data-tag="{{name}}">{{name}}</a></li>
</script>
<script id="pull-request-comment-template" type="text/x-handlebars-template">
    <li>
        <img src="{{user.avatar_url}}" alt="{{user}}" title="{{user}}" />
        <div class="pull-body">
            <h5 class="pull-user">{{user.login}} <small>{{dateDetailsFormat created_at}}</small></h5>
            {{{markDown body}}}
        </div>
    </li>
</script>
<script id="warning-paths-template" type="text/x-handlebars-template">
    <div id="loadingMessage" style="text-align: left;">
        <h1>
            <i class="icon-repeat icon-spin"></i> Loading Warning Paths...
        </h1>
    </div>
    <form action="/api/warningPaths" method="post">
        <p>
            These paths are used to determine if a pull request is touching critical files.
        </p>
        <ul id="warnings" class="unstyled"></ul>
        <p class="buttons hide">
            <button class="btn btn-mini btn-success addLink" type="button"><i class="icon-plus"></i> Add Path</button>
        </p>
        <p class="buttons hide">
            <button class="btn saveLink" type="submit">Save</button>
            <a href="/home" class="btn">Cancel</a>
        </p>
    </form>
</script>
<script id="warning-path-template" type="text/x-handlebars-template">
    <input name="path" type="text" class="input-xxlarge" placeholder="Ex. grails-app/conf" value="{{#if path}}{{path}}{{/if}}">
    <a href="#"><i class="icon-remove-sign"></i></a>
</script>
<script id="repo-options-template" type="text/x-handlebars-template">
    <div id="loadingMessage" style="text-align: left;">
        <h1>
            <i class="icon-repeat icon-spin"></i> Loading Repo Options...
        </h1>
    </div>
    <form id="repoForm" action="/options/saveRepos" method="post">
        <div id="owners"></div>
        <p id="buttons" class="hide">
            <button class="btn" type="submit">Save</button>
            <a href="/home" class="btn">Cancel</a>
        </p>
    </form>
</script>
<script id="repo-owner-template" type="text/x-handlebars-template">
    <div class="owner">
        <h2>{{login}}</h2>
        <ul class="unstyled repo">
            {{#each repos}}
            <li>
                <label class="checkbox">
                    <input type="checkbox" name="repo" value="{{full_name}}"> <b>{{name}}</b> <span class="subInfo"><i class="icon-random"></i> {{forks_count}} forks</span>
                </label>
            </li>
            {{/each}}
        </ul>
    </div>
</script>
<script id="files-template" type="text/x-handlebars-template">
    <div class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2>Files</h2>
        </div>
        <div class="modal-body">
            <ul class="unstyled">
                {{#each files}}
                <li class="pull-file clear-fix">
                    <i class="icon-{{iconStatus status}}"></i>

                    <div class="pull-file-info">
                        <h5>
                            <a href="{{blob_url}}" class="{{#if isWarn}}warn{{/if}}" target="_blank">{{filename}}</a>
                        </h5>
                        <!--<div class="progress">-->
                            <!--<div class="bar bar-success" style="width: {{percentage additions changes}}%;"></div>-->
                            <!--<div class="bar bar-danger" style="width: {{percentage deletions changes}}%;"></div>-->
                        <!--</div>-->
                        <small>{{additions}} additions / {{deletions}} deletions</small>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</script>