@font-face
{
    font-family: BebasNeue;
    src: url('../font/BebasNeue.otf');
}

body {
    color: #735151;
	font: 300 100.1% "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

header {
	margin: 10px 0;
	text-align: center;
}

header h1 {
    display: inline-block;
    margin-left: 5px;
}

footer {
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

footer a {
    color: rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
    color:rgba(0, 0, 0, 0.2);
    text-shadow:none;
    font-size: 30px;
    font-family: 'Share Tech Mono', sans-serif;
    font-weight: normal;
    padding: 15px 0;
}

h2 {
    font-family: BebasNeue;
    font-weight: normal;
}

h5 {
    word-break: break-all;
}

a,
a:hover {
    color: #888;
}

/* Clear Fix */
.clear-fix {
    *zoom: 1;
}

.clear-fix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.pull-title {
    color: rgb(115, 81, 81);
    font-size: 16px;
    word-wrap: break-word;
    margin: 0 0 6px 0;
    font-weight: normal;
}

a.pull-link,
a.pull-link:hover {
    color: rgb(115, 81, 81);
}

a.pull-link i.icon-thumbs-up {
    color: rgb(53, 117, 58);
}

a.pull-link i.icon-warning-sign,
i.icon-remove {
    color: rgb(192, 29, 32);
}

i.icon-circle-blank,
i.icon-adjust {
    color: #638EB0;
}

i.icon-circle {
    color: rgb(58, 143, 72);
}

i.icon-question-sign {
    color: rgb(184, 113, 0);
}

a.pull-warn,
a.pull-warn:hover,
.pull-file a.warn {
    color: rgb(223, 76, 59);
    font-weight: bold;
}

a.pull-good,
a.pull-good:hover {
    color: rgb(58, 143, 72);
    font-weight: bold;
}

/* ROLL LINKS */
.roll-link {
    color: #dd4d42;
    font-weight: bold;
    text-decoration: none;
    word-wrap: break-word;
    font-size: 16px;
    display: inline-block;
    overflow: hidden;

    vertical-align: top;

    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;

    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.roll-link:hover {
    text-decoration:none;
}

.roll-link span {
    display: block;
    position: relative;
    padding: 3px;

    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;

    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.roll-link:hover span {
    background: #DD4D42;
    -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}

.roll-link span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px;

    color: #fff;
    background: #DD4D42;

    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
    -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
    -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
    transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

#main {
    height: 100%;
    width: 960px;
    margin: 0 auto;
}

#menu {
    width: 140px;
}

.fixed {
    position: fixed;
    top: 0;
    margin-top: 10px;
}

#menu h5 {
    margin:0;
    background-color: #e7e6e6;
    border-bottom: rgb(210, 215, 221) solid 1px;
    padding: 10px 0 10px 8px;
}

#menu li {
    background-color: #ebeaea;
    padding: 8px 0 8px 8px;
}

#loadingMessage {
    text-align: center;
}

#loadingMessage a {
    color: #dd4d42;
    font-weight: bold;
}

#loadingMessage h1 {
    padding-top: 0;
}

.project {
    margin-bottom: 60px;
}

.project h2 {
    margin-bottom: 20px;
}

.pull-request {
    clear: both;
    margin: 0 0 40px 0;
}

.pull-request img {
    height: 40px;
    margin:0 10px 0 0;
    float: left;
}

.pull-request .pull-body {
    float: left;
    width: 90%;
}

.pull-request p {
    margin-left: 2px;
    color: #787878;
}
.pull-info {
    margin-bottom: 10px;
}
.pull-comments {
    margin: 0;
}

.pull-summary h1 {
    font-size: 28px;
}
.pull-summary h2 {
    font-size: 24px;
}
.pull-comments li {
    clear: both;
    padding: 10px 0;
}
.pull-user {
    margin: 0 0 4px 0;
}
.pull-user small {
    margin-left: 10px;
    font-weight: normal;
}

.repo li {
    margin-bottom: 6px;
}

.subInfo {
    color: #AAA;
    clear: both;
}

li.selected a {
    font-weight: bold;
    color:#735151;
}

ul.subInfo {
    margin: 0;
    padding: 0;
}
.owner {
    margin-bottom: 30px;
}

.owner ul.subInfo {
    margin-left: 12px;
}

.owner .subInfo li {
    width: 275px;
}

.pull-request ul.subInfo li {
    padding: 0 20px 0 0;
}

#progressBar {
    margin: 0 auto 20px auto;
    width: 400px;
}

#userOptions {
    color: #999;
}

#introPage {
    margin-top: 50px;
    text-align: center;
}

#introPage h1:first-child {
    padding: 10px 0 10px 0;
}

.noPullRequests {
    padding: 20px 0 20px 144px;
}

.pull-file h5 {
    font-weight: normal;
    margin: 0 0 4px 0;
}
.pull-file i {
    float:left;
    line-height: 20px;
}
.pull-file a {
    color: rgb(115, 81, 81);
}
.pull-file-info {
    margin:0 0 10px 22px;
}
.pull-file-info .progress {
    width: 30%;
    height:4px;
    margin-bottom:2px;
}
.pull-file-info small {
    color:#AAA;
}

.pull-file .progress {
    opacity: 0.2;
}

#warnings {
    margin-bottom: 0px;
}

.warningPath {
    position: relative;
}

.warningPath a {
    top: 5px;
    left: 546px;
    position: absolute;
    text-decoration: none;
}

.buttons {
    margin-bottom: 20px;
}

form .alert {
    width: 525px;
}