@font-face
{
    font-family: BebasNeue;
    src: url('../font/BebasNeue.otf');
}

body {
    color: #735151;
	font: 300 100.1% Helvetica, "Arial Unicode MS", Arial, sans-serif;
    font-size: 14px;
}

header {
	margin: 10px 0;
	text-align: center;
}

header h1 {
    display: inline-block;
    margin-left: 5px;
}

footer {
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

footer a {
    color: rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0;
    color:rgba(0, 0, 0, 0.2);
    text-shadow:none;
    font-size: 30px;
    font-family: 'Share Tech Mono', sans-serif;
    font-weight: normal;
    padding: 15px 0;
}

h2 {
    font-family: BebasNeue;
    font-weight: normal;
}

h4 {
	font-weight: normal;
	margin: 0;
	font-size: 24px;
	color: rgba(255,255,255,0.4);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
}

a,
a:hover {
    color: #fa4b2a;
    color: #888;
}
/* Clear Fix */
.clear-fix {
    *zoom: 1;
}

.clear-fix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.pull-link,
.pull-link:hover {
    color: #dd4d42;
    font-weight: bold;
    word-wrap: break-word;
    font-size: 16px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    margin-bottom: 6px;
}

.pull-warn,
.pull-warn:hover {
    background-color: #dd4d42;
    color: #FFF;
    padding:4px;
}

/* ROLL LINKS */
.roll-link {
    color: #dd4d42;
    font-weight: bold;
    text-decoration: none;
    word-wrap: break-word;
    font-size: 16px;
    display: inline-block;
    overflow: hidden;

    vertical-align: top;

    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;

    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.roll-link:hover {
    text-decoration:none;
}

.roll-link span {
    display: block;
    position: relative;
    padding: 3px;

    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    transition: all 400ms ease;

    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.roll-link:hover span {
    background: #DD4D42;
    -webkit-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    -moz-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    -ms-transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
    transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
}

.roll-link span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px;

    color: #fff;
    background: #DD4D42;

    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
    -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
    -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
    transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}

#main {
    height: 100%;
    width: 960px;
    margin: 0 auto;
}

#content {
    /*height: 100%;*/
    /*margin: 0 auto;*/
    /*float: none;*/
    /*position: relative;*/
    /*text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7);*/
}
#menu h5 {
    background-color: #c0bfbf;
    margin-bottom: 0;
    padding: 10px 0 10px 8px;
}
#teamTags li {
    background-color: #ebeaea;
    /*list-style: none;*/
    /*text-transform: uppercase;*/
    padding: 10px 0 10px 8px;
    /*line-height: 1em;*/
}

#loadingMessage {
    text-align: center;
}

#loadingMessage a {
    color: #dd4d42;
    font-weight: bold;
}

#loadingMessage h1 {
    padding-top: 0;
}

.project {
    margin-bottom: 60px;
}

.pull-request {
    clear: both;
    margin: 0 0 30px 0;
}

.pull-request img {
    height: 40px;
    margin:0 10px 0 0;
    float: left;
}

.pull-request .pull-body {
    float: left;
    width: 90%;
}

.pull-request p {
    margin-left: 2px;
    color: #787878;
}

.pullSummary h1 {
    font-size: 28px;
}
.pullSummary h2 {
    font-size: 24px;
}

.repo li {
    margin-bottom: 6px;
}

.subInfo {
    color: #AAA;
}

.selected {
    font-weight: bold;
}

ul.subInfo {
    margin: 0;
    padding: 0;
}

.owner ul.subInfo {
    margin-left: 12px;
}

.owner .subInfo li {
    width: 275px;
}

.pull-request ul.subInfo li {
    padding: 0 20px 0 0;
}

#progressBar {
    margin: 0 auto 20px auto;
    width: 400px;
}

#userOptions {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    color: #999;
}

#introPage {
    margin-top: 50px;
    text-align: center;
}

#introPage h1:first-child {
    padding: 10px 0 10px 0;
}

.descriptionLink {
    font-size: 16px;
    padding: 1px;
}

.noPullRequests {
    padding: 20px 0 20px 144px;
}