<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pullreq</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" media="screen">
    <link rel="stylesheet" href="/css/main.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <%- stylesheets %>
</head>
<body>
    <header>
        <%- blocks.header %>
    </header>
    <div class="container-fluid">
        <%- body %>
    </div>
    <footer>
        <div style="text-align: center;">
            <p>&copy; Adan Perez 2013</p>
            <p><small><a href="http://thenounproject.com/noun/octopus/#icon-No901" target="_blank">Octopus</a> designed by <a href="http://thenounproject.com/carol" target="_blank">Carolina Costa</a> from The Noun Project</small></p>
        </div>
    </footer>
    <script src="/js/jquery-1.9.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/handlebars-1.0.rc.2.js"></script>
    <script src="/js/handlebars-plugins.js"></script>
    <script src="/js/underscore-1.4.4.min.js"></script>
    <script src="/js/backbone-1.0.0.min.js"></script>
    <script src="/js/Backbone.ModelBinder-0.1.6.min.js"></script>
    <script src="/js/moment-2.0.0.min.js"></script>
    <%- scripts %>
</body>
</html>