<div class="left-animation">
    <h2>
        <a href="#/pulls"> <i class="icon-chevron-left"></i> Back</a>
    </h2>
    <div class="details">
        <img class="user img-circle" ng-src="{{ request.user.avatar_url }}" alt="{{ request.user.login }}" title="{{ request.user.login }}" />
        <div class="pull-summary clear-fix">
            <!--<h4 class="pull-title" ng-bind="request.title"></h4>-->
            <h4 class="pull-title" ng-class="{approved: request.status_flags.review_approved}">
                <a class="pull-link" target="_blank" href="{{ request.html_url }}" ng-bind="request.title"></a>
                <i tooltip="Approved" ng-if="request.status_flags.review_approved" class="approved icon-thumbs-up icon-large"></i>
                <i tooltip="Missing tests" ng-if="request.status_flags.has_tests != null && !request.status_flags.has_tests" class="warn icon-question-sign"></i>
                <i tooltip="Contains warning message" ng-if="request.status_flags.has_warning" class="warn icon-warning-sign"></i>
                <i tooltip="Contains modified critical files" ng-if="request.status_flags.has_critical_files" class="warn icon-exclamation-sign"></i>
            </h4>
            <div markdown text="request.body"></div>
        </div>
        <ul class="comments list-unstyled clear-fix">
            <li ng-repeat="comment in request.info.issueComments" class="clear-fix">
                <img class="user img-circle" ng-src="{{ comment.user.avatar_url }}" alt="{{ comment.user.login }}" title="{{ comment.user.login }}" />
                <div class="pull-body">
                    <h5>{{comment.user.login}} <small>{{ comment.created_at | date:'medium' }}</small></h5>
                    <div markdown text="comment.body"></div>
                </div>
            </li>
        </ul>
    </div>
</div>